import { CSSProperties, ComponentPropsWithRef, FC, ReactNode } from 'react';

interface Props extends ComponentPropsWithRef<'div'> {
{{#each (mapPropNames this.variantGroupProperties)}}
  {{#if this.isBoolean}}
    {{this.property}}?: boolean;
  {{/if}}
  {{#if this.isNumber}}
    {{this.property}}: number;
  {{/if}}
  {{#if this.isString}}
    {{this.property}}{{#if this.hasDefaultValue}}?{{/if}}:
    {{#each this.values}}
    | '{{camelCase this}}'
    {{/each}};
  {{/if}}
{{/each}}
}

type VariantProperties = {
  [property: string]: unknown;
} | null;

const serializeProperties = (variantProperties: VariantProperties) => {
  if (!variantProperties) {
    return '';
  }

  const sortedProperties = Object.entries(variantProperties).sort(
    ([aKey], [bKey]) => {
      return aKey.localeCompare(bKey);
    }
  );

  return sortedProperties.reduce(
    (str, [currKey, currVal]) =>
      `${str.toLowerCase()}--${currKey.toLowerCase()}-${String(currVal).toLowerCase()}`,
    ''
  );
};

interface ComputedProps {
  style?: CSSProperties;
  children?: ReactNode;
}

const getProps = (variantProperties: VariantProperties): ComputedProps => {
  const serialized = serializeProperties(variantProperties);
  switch (serialized) {
    {{#each (mapComponents this.children)}}
    case '{{this.serialized}}': 
      return {
        style: {
          borderRadius: '{{this.borderRadius}}',
          backgroundColor: '{{this.backgroundColor}}',
          borderWidth: '{{this.borderWidth}}',
          borderColor: '{{this.borderColor}}',
          borderStyle: '{{this.borderStyle}}',
          padding: '{{this.padding}}',
        },
        children: <div></div>,
      };
    {{/each}}
    default:
      return {};
  }
};

const {{pascalCase this.name}}: FC<Props> = (props: Props) => {
  const {
    children: childrenOverride,
    {{#each (mapPropNames this.variantGroupProperties)}}
      {{this.property}}
        {{#if this.isBoolean}}=false{{/if}}
        {{#if this.hasDefaultValue}}='default'{{/if}}
      ,
    {{/each}}style: styleOverride,
    ...rest
  } = props;

  const { style, children } = getProps({
    size,
    variant,
    icon,
  });

  return (
    <div style={ { ...style, ...styleOverride } } {...rest}>
      {childrenOverride}
    </div>
  );
};

export default {{pascalCase this.name}};
export type { Props };
